<%- include("./comman/header.ejs") %> <%- include('./comman/nav.ejs') %>
<div class="container">
  <div class="row mt-5">
    <h1>home page</h1>
    <hr />
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ab aliquid
      excepturi laboriosam neque, laudantium, nemo saepe iste asperiores
      molestias iusto beatae consectetur dolorem autem. Accusantium nisi
      delectus velit voluptatibus?
    </h1>
  </div>
</div>
<%- include("./comman/footer.ejs") %>
