<%- include("./comman/header.ejs") %> <%- include('./comman/nav.ejs') %>
<div class="container">
  <div class="row mt-5">
    <h1>Login page</h1>
    <hr />
    <h1>
        Login Form
    </h1>
  </div>
</div>
<%- include("./comman/footer.ejs") %>
