<%- include("./comman/header.ejs") %> <%- include('./comman/nav.ejs') %>
<div class="container">
  <div class="row mt-5">
    <h1>Login page</h1>
    <hr />
    <form  class="col-6" method="post" action="/login">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" required class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" >
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" required id="password" name="password" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<%- include("./comman/footer.ejs") %>
